a.link {
    text-decoration: none;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s ease all;
    color: #FA842B;
}

a.link:hover,
a.link:focus {
    color: #FFF;
}

.link {
    font-size: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    padding: 14px 0px;
    border-radius: 2px;
    position: relative;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
    border: 2px solid #FA842B;
    z-index: 2;
    padding: 10px 25px;
}

.link:before {
    -webkit-transition: 0.5s all ease;
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: '';
    background-color: #FA842B;
    z-index: -1;
}

.link:hover:before,
.link:focus:before {
    left: 0;
    right: 0;
    opacity: 1;
}