/* Импорт шрифтов */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap');
/* Импорт кастомных стилей для компонентов */
@import './block/button.css';
@import './block/hero.css';
@import './block/menu-button.css';
@import './block/menu.css';
@import './block/swiper.css';
@import './block/pin-wrap.css';
@import './block/tabs.css';
@import './block/form.css';
@import './block/popup.css';
@import './block/link.css';
@import './block/cookies.css';
@import './block/contacts.css';
@import './block/footer.css';
@import './block/services.css';



/* Импорт TailWind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Зарегистрируйте пользовательское семейство шрифтов и сообщите браузеру, где его найти. */
@font-face {
    font-family: 'droid-regular';
    src: url('../src/fonts/DroidSerif-Regular.ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'droid-bold';
    src: url('../src/fonts/DroidSerif-Bold.ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@layer base {
    body {
        font-family: 'Open Sans', sans-serif;
        color: #f2f2f2;
        background: #000000;
        font-weight: 400;

        overflow-x: hidden;
        max-width: 100vw;
        width: 100%;
    }
}

@layer components {
    .container {
        @apply max-w-[1440px]
    }
}

/* Директивы классов */

/* .header-call-button {
    @apply py-3 px-8 rounded-[160px] text-white font-semibold w-44 text-center border-solid border-blue border-[2px] transition-all block;
} */

.header-call-button:hover {
    background-color: transparent;
    color: #5278DA;
}

/* Прочие классы */

.lock {
    overflow: hidden;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.header-fix {
    background: rgba(38, 38, 38, 0.60);
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 3px 6px rgba(0, 0, 0, .23);
}


.back {
    position: relative;
    background-color: #1F1F1F;
    z-index: -1;
}

.back:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-position: 50% 0;
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' id='my-svg' width='193' height='194' viewBox='0 0 193 194' fill='none'><rect x='1.52599' y='97.0613' width='134.581' height='134.581' rx='3.25' transform='rotate(-45 1.52599 97.0613)' stroke='%238B8B8B' stroke-width='1.5'/><path d='M90.7101 127.052V123.636H79.811V142.344L114.46 128.191V137.951H107.465V141.368H117.388V123.636L82.9018 137.301V127.052H90.7101Z' stroke='%238B8B8B' stroke-width='1.5'/><path d='M65.6162 61.7031H89.176C91.7675 67.9857 102.159 72.145 108.966 61.7031H131.584' stroke='%238B8B8B' stroke-width='1.5'/><path d='M98.5996 73.6545V122.423' stroke='%238B8B8B' stroke-width='1.5'/><circle cx='98.8354' cy='53.9484' r='2.1684' fill='%238B8B8B'/><path d='M51.591 96.6649L65.5795 69.8733L83.1245 103.304M83.1245 103.304L44.5967 104.015C46.6515 108.362 53.3929 117.15 63.9198 117.529C74.4468 117.909 81.1092 107.966 83.1245 103.304Z' stroke='%238B8B8B' stroke-width='1.5'/><path d='M117.248 96.6649L131.236 69.8733L148.781 103.304M148.781 103.304L110.253 104.015C112.308 108.362 119.05 117.15 129.577 117.529C140.104 117.909 146.766 107.966 148.781 103.304Z' stroke='%238B8B8B' stroke-width='1.5'/></svg>");
    background-repeat: repeat;
    opacity: .1;
}


svg {
    stroke-width: 3px;
    stroke-dasharray: 149;
    animation: path 2s linear forwards;
  }
  
   @keyframes path {
      0% {
        stroke-dashoffset: 149;
      }
      100% {
        stroke-dashoffset: 0;
      }
    }


.hero__bg {
    position: absolute;
    /* top: 40; */
    right: 0;
    z-index: -1;
    background-size: cover;

}

@media (max-width:767px) {
    .hero__bg {
        position: absolute;
    }

    .hero__title {
        font-size: 24px
    }

    .hero__text {
        font-size: 14px;
    }

    .person__img {
        width: 120px;
    }

}

.marketing__list {
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 60px;
}


@media (max-width: 1023px) {
    .list__list {
        justify-content: center;
        gap: 40px;
    }

    .item__list {
        width: 190px;
        height: 190px;
    }
}


.item__list {
    width: 240px;
    height: 240px;
    background-image: url('../src/img/marketing/ellipse.png');
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}